*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    height: 100vh;
    background-color: #002766;
}
.clock{
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background:linear-gradient(115deg,#0057e6,#0068ff);
    box-shadow: 5px 5px 8px #002766,
    -5px -5px 18px #009bff;
    position: relative;
}
.clock::before{
    content: "" ;
    position: absolute;
    height: calc(50% - 10px);
    top: 50%;
    left: 50%;
    border: 1px solid #fff;
    transform-origin: 100% 0%;
    animation: clock 60s infinite steps(60);
}
@keyframes clock{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
}
